// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    padding: 50px;
}

.alert {
  margin-top: 20px;
  margin-bottom: 0px;
}

.patreon-user {
	i {
		font-size: 3rem;
		padding: 0.5rem 1rem;
	}
	a {
		font-size: 3rem;
	}

  .patreon-projects {
    margin-top: 2rem;

    .patreon-project {
      background-color: #49b0f9;
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 0.3rem;
      display: inline-block;
      
      i.ion-chevron-up {
        float: right;
        font-size: 2rem;
        padding: 0.25rem 0.25rem;
      }

      a {
        font-size: 2rem;
      }

      h4 {
        display: inline-block;
      }
    }
  }
}

.top-user {
	background-color: #f6f6f6;
	padding: 0.5rem 1rem;
	margin: 1.5rem 0;
	border-radius: 0.25rem;
  
  h5 {
    color: darken(#f6f6f6, 25%);
    font-size:3rem;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
  }

	p {
		padding: 0 1rem;
	}
	i {
		font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: white;
    border-radius: 0.25rem;
	}
  .follower-counts {
    padding: 1rem 0;

    i {
      background-color: transparent;
      border-radius: 0;
      padding: 0.5rem;
      margin: 0.25rem;
    }
  }
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.input-group .twitter-typeahead .tt-hint {
    display: block;
    height: 46px !important;
	padding: 10px 16px !important;
	font-size: 18px !important;
	line-height: 1.33 !important;
    border: 1px solid transparent;
}